-# haml-lint:disable all
-# haml-lint:enable ConsecutiveComments
-# wat
-# wat
-# wat
%div{class: "test" }
  %img{src: "test.png"}
  %div.class-that-is-really-long-to-make-sure-to-trigger-the-too-long-cop{data: {property: "halllooo"}}
